*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(228, 215, 228);
    .bbh-hegarty-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;   
font-size: 14px;
color: #6B7280;}

    
}
nav{
    height: 50px;
    width: auto;
    background-color: rgb(228, 215, 228);
    display:flex;
    align-items: center;
    justify-content:start;
    gap: 105px;
    
    }
nav img{
  height: 50px;
  padding: 5px;
}
.div{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 45px;
}
nav input{
  padding: 5px;
  width: 250px;
  height:40px ;
  border: 0px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.div3{
  padding:20px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.container {
  
  display: flex;
  align-items: start;
  justify-content: start;
  
  padding: 15px 30px;
  gap: 20px;
  
  
}
aside{
  
  font-size: 25px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap:20px;
  flex-direction: column;
  padding: 30px 1px;


}
a{
  text-decoration: none; 
  color: inherit;  
}
.circle{
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.flow{
  width: 60px;
  height: 60px;
  background-color: rgb(240, 66, 101);
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cmd{
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page{
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy{
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar{
  
  height: 400px;
  width: 250px;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 5px;
  font-size: 15px;
  flex-direction: column;
  gap:10px;
}
.sidebar a{
  opacity: .4;
}
main{
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 40px;
}
.sales{
  height: 80px;
  width: 190px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap:5px
}
.sale1{
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: start;
 
  gap: 5px;
}
.sale2{
  
  display: flex;
  align-items: center;
  justify-content: start;
}
.sale11{
  
}
.sale12{
  width: 100%;
  
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: small;
  
}
.s1{
   display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
 color: white;
}
.s11{
  background-color:rgb(240, 66, 101) ;
  border-radius: 10px;
  padding: 3px;
}
.s12{
   background-color:rgb(240, 66, 101) ;
   border-radius: 10px;
   padding: 3px;
}
.sales li {
    display: inline-block;
    position: relative;

}
.sales li a{
    display: block;
    text-decoration: none;
    text-align: center;
    
}
.sales li ul.dropdown{
  background-color: rgb(240, 66, 101);
    width: 100%;
    position:absolute;
    z-index: 999;
    display: none;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.sales li:hover ul.dropdown {
    display: block;}
.first{
  
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 350px;
  

}
.top{
  background-color:white;
  width: 130px;
  height: 80px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px ;
  gap: 5px;
  box-shadow: 2px 6px 5px;
}
.top img{
  width: 20px;
}
.top h6{
  opacity: .4;
 
}
.box{
  display: flex;
  align-items: start;
  justify-content: center;
  gap:20px;
 
  
}
.nico{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  font-family: "Open Sans", sans-serif;

}
.best{
  color: white;
  background-color:black;
  width: 130px;
  height: 80px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px ;
  gap: 5px;
  box-shadow: 2px 6px 5px;
}
.mini{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-family: "Turret Road", sans-serif;
  font-weight: 200;
  font-style: normal;}
.win{
  background-color:white;
  width: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px ;
  gap: 5px;
  box-shadow: 2px 6px 5px;

}
.deal{
  background-color:white;
  width: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px ;
  gap: 5px;
  box-shadow: 2px 6px 5px;

}
.value{
  background-color:white;
  width: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px ;
  gap: 5px;
  box-shadow: 2px 6px 5px;

}
.second{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  
}
.chota{
  background-color: rgb(140, 139, 139,.4);
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid rgb(211, 205, 205);
  width: 1050px;
  height: 25px;
  border-radius: 20px;
  padding: 2px 7px 2px 2px;
  gap:2px;
}

.armin{
  background-color: white;
  width: 39.63%;
  display: flex;
  align-items: start;
  justify-content: start;
  border: 1px solid rgb(211, 205, 205);
  border-radius: 20px;
  padding: 2px;
  gap:70%;
}
.mikasa{
  background-color: white;
  width: 22.14%;
  display: flex;
  align-items: start;
  justify-content: start;
  border: 1px solid rgb(211, 206, 206);
  border-radius: 20px;
  padding: 2px;
  gap:45%;
}
.eren{
  background-color: white;
  width: 29.65%;
  display: flex;
  align-items: start;
  justify-content: start;
  border: 1px solid rgb(211, 206, 206);
  border-radius: 20px;
  padding: 2px;
  gap: 60%;
}
.extra{
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 2px;
  gap: 10%;

}
.det{
  font-size: x-small;
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
  height: 20px;
  width: 50px;
  padding: 5px;
}
.third{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 100%;
  width: 95%;
  gap: 10px;
  padding: 5px 15px;
}
.one{
  background-color: white;
  height: 98%;
  width: 48%;
  padding: 5px;
}
.two{
  background-color: rgb(255, 255, 255);
  height: auto;
  height: 98%;
  width: 48%;
  border-radius: 15px;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
.d1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;

}
.info{
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15%;
  
}
.details{
 width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 13%;
  background-color: white;
  border: 0px solid rgba(119, 117, 117, 0.612);
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  padding: 3px;
}
.details img{
  height: 20px;
  width: 20px;
}
.q1{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1px;
}
.q{
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 2px;
}
.p{
    background-color: gray;
  border-radius: 10px;
  color: white;
  padding: 2px;

}
.d2{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1px;
  padding: 5px;
  border: 0px solid white;
  border-radius: 20px;
  background: linear-gradient(
  135deg,
  #EEF2FF,
  #FFF1F2

);
;
}
.d2 img{
  height: 20px;
  width: 20px;

}
.k1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 13%;
  padding: 3px;
}
.k2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding:10px;
  

}
.k21{
  font-size: x-small;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  padding: 0px 10px;
  
}
.k211{
   position: relative;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 10px 14px;
  width: fit-content;
}
.k211::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: -6px;

  width: 12px;
  height: 12px;

  background: #ffffff;
  border-left: 0px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;

  transform: rotate(45deg);
}
.a {
  height: 55%;
  width: 98%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px;
  gap: 5px;
  font-family: "Open Sans", sans-serif;
}
.a h5{
  opacity: .6;
}

.b{
  height: 45%;
  width: 100%;
  background-color: rgb(128, 128, 128,.2);
  font-family: "Open Sans", sans-serif;
  border-radius: 15px;
}
.insta{
  background-color: rgb(128, 128, 128,.2);
  height: 100%;
  width: 50%;
  opacity: 1;
  border-radius: 15px;
}
.google{
 background-color: rgb(128, 128, 128,.2);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
  padding: 5px;

}
.g1{
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.g2{
  
  height: 100%;
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 5px;
  gap: 2px;
}
.g21{
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 0px solid black;
  border-radius: 10px;
  width: 100%;
    background: repeating-linear-gradient(
    -45deg,
    rgb(249, 248, 248),
    rgba(248, 247, 247, 0.877) 4px,
    transparent 0px,
    transparent 8px
  );
}
.g22{
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 60%;
  background-color: white;
  border: 0px solid black;
  border-radius: 10px;
}
.g23{
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 20%;
  background: repeating-linear-gradient(
    -45deg,
    rgb(249, 248, 248),
    rgba(248, 247, 247, 0.877) 4px,
    transparent 0px,
    transparent 8px
  );
  border: 0px solid black;
  border-radius: 10px;
}
.g24{
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
  background-color: white;
  border: 0px solid black;
  border-radius: 10px;
}
.g3{
  
  height: 25px;
  width: 70%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 5px;
  font-size: small;
  
}
.insta1{
  display: flex;
  align-items: center;
  justify-content: start;
  gap:60%;
  padding: 5px;
}
.m{
  display: flex;
  align-items: center;
  justify-content: start;

}
.instabox{
  
  height: 80%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}

.insta2{
  height: 18%;
  width: 93%;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:20px ;
  padding: 5px;

}


.insta3{
  height: 18%;
  width: 93%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:20px ;
  padding: 5px;


}
.insta4{
  height: 18%;
  width: 93%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:20px ;
  padding: 5px;

}
.insta4 div{
   display: flex;
  align-items: center;
  justify-content: space-between;

}
.insta5{
  height: 18%;
  width: 93%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:20px ;
  padding: 5px;

}
.icon{
  display: flex;
  align-items: center;
  justify-content: start;
  
}
.b{
  border-radius: 20px;
  
  
}
.bhead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.icn{
  display: flex;
  align-items: start ;
  justify-content: start;
  padding: 5px;
}
.icn2 li {
    display: inline-block;
    position: relative;

}
.icn2 li a{
    display: block;
    text-decoration: none;
    text-align: center;
}
.icn2 li ul.dropdown{
  background-color: white;
    width: 100%;
    position:absolute;
    z-index: 999;
    display: none;
    border: 2px solid white;
    border-radius: 5px;
}
.icn2 li:hover ul.dropdown {
    display: block;
}
.icn2 h5{
  opacity: .4;
}
.rev{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 3px;
  background-color: white;
  border-radius: 10px;
  font-size: small;
}
.revenue{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 10px;
}
.lead{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(128, 128, 128,.2);
  padding: 3px;
  border-radius: 10px;
}
.wl{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(128, 128, 128,.2);
  padding: 3px;
  border-radius: 10px;
}
.blow{
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  
}
.avg{
  height: 100%;
  width: 30%;
  background-color: rgb(240, 66, 101);
  border-radius: 0px 30px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.monthly{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  font-size: small;
  

}
.monthly p{
  color: white;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: center;
}
.per{
  height: 100%;
  width: 70%;
  color: white;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  
}
.per span{
  opacity: .6;
}
.v h5{
  
  display: flex;
  align-items: center;
  justify-content: start;
}
.w h5{
  
  display: flex;
  align-items: center;
  justify-content: start;
}
.grp{
  height: 100%;
  width: 55%;
  padding: 0px;
  ;
  
}

.g {
  
  width: 95%;
  height: 80%;
  padding: 0px;
  background: rgba(112, 109, 109, 0) ;
  border-radius: 16px;
  
}


.k3{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 5px;
  gap: 5px;
}
.k31{
  background-color: white;
  width: 40%;
  height: 105px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  border: 0px solid white;
  border-radius: 20px;
  padding: 10px;
  
}

.k31 span{
  opacity: .4;
}
.k32{ 

  width: 40%;
  height: 115px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  border: 0px solid white;
  border-radius: 20px;
  padding: 5px;
  gap: 10px;
}
.k321{
  
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.k322{
  
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  background-color: white;
  border: 0px solid white;
  border-radius: 15px;
  padding: 5px;
}
.l1{
  background-color: white;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  border: 0px solid white;
  border-radius: 15px;
  padding: 5px;
}
.l2 h5{
  font-size: small;
}
.l2 span{
  font-size: small;
  opacity: .4;
}
.l2{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 5px;
  gap: 2px;
  
}
.l21{
  height: 80%;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 4px,
    transparent 0px,
    transparent 8px
  );
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  border: 0px solid rgba(255, 255, 255, 0.597);
  border-radius: 10px;
  font-size: 13px;
  padding: 2px;
  
}
.l22{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 15%;
  width: 100%;
  background-color: white;
  border: 0px solid white;
  border-radius: 15px;
  padding: 5px;
  font-size: small;
}
  

.l1 span{
  opacity: .4;
}
.k4{
  
  width: 100%;
  height: 100%;
  padding: 5px;
}

.sales-chart {
  width: 100%;
  height: 85%;
  padding: 2px;
  
  border-radius: 12px;
}

